[Desktop Entry]
Encoding=UTF-8
Name=Ojuba MiMiC
Name[ar]=محول وسائط أعجوبة
Comment=Ojuba Multi Media Conveter
Comment[ar]=محول وسائط أعجوبة
Exec=/usr/bin/ojuba-mimic
Terminal=false
Type=Application
Icon=gnome-settings-theme
StartupNotify=true
Categories=GNOME;GTK;AudioVideo;Video;X-Ximian-Main;X-Red-Hat-Base;

